.work-image {
    display: inline-block;
    padding-right: 2.5em;
    vertical-align: middle;
    width: 48%;
}

.work-image img {
    display: block;
    width: 100%;
}

.modal-text {
    display: inline-block;
    width: 50%;
}

.project-icon {
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
}

@media screen and (max-width: 899px) {
    .work-image {
        display: inline-block;
        padding-right: 0;
        vertical-align: middle;
        width: 100%;
    }
        .work-image img {
            display: block;
            width: 100%;
        }

    .modal-text {
        display: inline-block;
        width: 100%;
    }

}

#resume-link {
    color: white;
    text-decoration: none;
}