.work-image {
    display: inline-block;
    padding-right: 2.5em;
    vertical-align: middle;
    width: 100%;
}

    .work-image img {
        display: block;
        width: 100%;
    }
/* 
.modal-text {
    display: inline-block;
}

#transition-modal-title {
    display: block;
}

#transition-modal-description {
    display: block;
} */